* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #101728;;
}

.custom-button {
    background: linear-gradient(90deg, #8A2BE2, #FF4500);
    border: none; 
    color: white; 
    padding: 24px 48px; 
    font-size: 18px; 
    font-family: 'Bungee', cursive; 
    border-radius: 50px; 
    cursor: pointer; 
    transition: background 0.3s ease; 
    display: inline-block;
    margin-top: 20px;
}

.custom-button:hover {
    background: linear-gradient(90deg, #FF4500, #8A2BE2); /* Inverte as cores no hover */
}

header {
    padding: 32px 0;
    color: white;
}

header img{
    height: 70px;
}

section h2,
section h3 {
    font-family: 'Bungee', cursive;
    font-weight: normal;
    color: white;
}

section p{
    font-family: 'Roboto';
    font-weight: normal;
    color: white;
    margin-right: 60px;
}

section h3{
    margin-top: 32px;
    font-size: 38px;
    color: #9440fd;
}

section h2{
    font-size: 72px;
}

section p{
    font-size: 20px;
}

section p .descricao{
    font-size: 20px;
}

header nav li {
    font-family: 'Roboto';
    display: inline;
    margin-left: 16px;
    font-size: 25px;
    font-weight: bold;
}

header nav li a {
    font-family: 'Roboto';
    margin-left: 16px;  
    margin-right: 22px;
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin-left: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section img{
    margin-top: 32px;
    height: 350px;
    border-radius: 10%;
    border-color: white;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px 0;
    margin-bottom: 95px;
}

section h2{
    margin-bottom: 16px;
}

section {
    color: #101728;
}

section p{
    margin-bottom: 8px;
}

.store-front{
    margin-right: 22px;
}

#logo2{
    height: 100px;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

#desc {
    text-align: center;
}

#desc h3{
    margin-top: 100px;
    color: white;
    margin-bottom: 50px;
    font-size: 48px;
}

#desc p{
    color: white;
    margin-bottom: 50px;
    font-size: 16,5px;
    margin-bottom: 175px;
}

#maps,
#guns,
#uti,
#econo{
    font-size: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

#maps div,
#guns div,
#uti div,
#econo div{
    margin-right: 45px;
}

#maps img {
    width: 620px 0,
}

#maps h3{
    color: #38b6ff;
    margin-bottom: 60px;
}

#guns h3{
    color: #9340ff;
    margin-bottom: 60px;
}

#uti h3{
    color: #c43eb5;
    margin-bottom: 60px;
}

#econo h3{
    color: #72ffe1;
    margin-bottom: 60px;
}

.destaque{
    color: #9440fd
}

section h3{
    margin-bottom: 16px;
}

#social-media img{
    height: 40px;
    margin-right: 20px;
    margin-bottom: 50px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #101728;
    color: #ffff;
    padding: 16px 0;
}